# Ignore Python cache files
__pycache__/
*.pyc

shapleyx/__pycache__/
*.pyc
shapleyx/__pycache__/pawn.cpython-39.pyc
shapleyx/__pycache__/shapleyx.cpython-39.pyc
shapleyx/__pycache__/xsampler.cpython-39.pyc

shapleyx/utilities/__pycache__/ARD.cpython-312.pyc
shapleyx/utilities/__pycache__/transformation.cpython-312.pyc
shapleyx/utilities/__pycache__/pawn.cpython-312.pyc

shapleyx/utilities/__pycache__/ARD.cpython-312.pyc
shapleyx/utilities/__pycache__/pawn.cpython-312.pyc
shapleyx/utilities/__pycache__/transformation.cpython-312.pyc
